name: Deploy to AWS

on:
  push:
    branches:
      - master
    paths:
      - 'backend/**'
      - '.github/**'
      - 'template.yaml'

permissions:
  id-token: write # This is required for requesting the JWT
  contents: read # This is required for actions/checkout

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '20'

      - name: Install dependencies
        run: npm ci

      - name: Build project with webpack
        run: npm run build

      - name: Upload build artifacts
        uses: actions/upload-artifact@v3
        with:
          name: build-artifacts
          path: |
            .aws-sam/build/
            doc/

  deploy:
    runs-on: ubuntu-latest
    needs: build # build ジョブの後に実行されるように指定

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Download build artifacts
        uses: actions/download-artifact@v3
        with:
          name: build-artifacts
          path: ./ # アーティファクトを現在のディレクトリにダウンロード

      - name: Configure AWS credentials using OIDC
        uses: aws-actions/configure-aws-credentials@v3
        with:
          role-to-assume: arn:aws:iam::465068362057:role/github-actions-serverless-deploy
          aws-region: ap-northeast-1

      - name: Sync OpenAPI files to S3
        run: aws s3 sync ./doc s3://aws-serverless-backend-s3-ap-northeast-1-465068362057/doc --delete

      - name: SAM Deploy
        run: sam deploy --no-confirm-changeset --no-fail-on-empty-changeset

      - name: Sync Frontend files to S3
        run: aws s3 sync ./packages/frontend/static/ s3://aws-serverless-frontend-s3-ap-northeast-1-465068362057 --delete
